body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

#root, #credit {
  margin: 1em 0;
}

#credit p,
#refer p {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  font-size: 85%;
}

#refer p {
	font-size: 95%;
	font-weight: bold;
}

.App {
	max-width: 330px;
	margin: 0 auto;
	padding: 0.5em 1em 1.5em 1em;
	background-color: white;
	box-shadow: 0 0 2px grey ;
}

.App header h1 {
  text-align: center;
}

.App .HuelCalculator .huel-amount,
.App .HuelCalculator .water-amount,
.App .HuelCalculator .calories-amount {
  padding: 0 1em;
  font-size: 1.5em;
}

input {
  font-size: 1.5em;
  max-width: 4em;
  padding: 10px;
  margin-right: 0.5em;
  border: 0;
}

input:focus {
  border: 0;
}
